<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>HELLO, you have reached my REST API! 👋🏼</p>
    To see API documentation, visit <a href="https://nat-api.herokuapp.com/docs">/docs</a>
    <p>Here is where I host the data for the following projects:</p>
    <ul>
        <li><a href="https://nat-portfolio.netlify.app/" target="_blank">My Dev Portfolio</a></li>
        <li><a href="https://nat-travels.netlify.app/" target="_blank">Travel Blog</a></li>
        <li><a href="https://stesfood.netlify.app/" target="_blank">Ste's Food Blog</a></li>
    </ul>
</body>
</html>