<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <h3>Hey, {{ user }}!</h3>
    <p>Thank you for signing up for my mailing list 🥰</p>
    <p>I will send updates of my travels and if you would like to get in touch, just reply to this email!</p>
    
    <p>Lots of Love,</p>
    <p><em>Natalie ✨</em></p>
</body>
</html>